@charset "utf-8";

@font-face {
    font-family: 'Cafe24_simple';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Simplehae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'CD';
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
	font-weight: 300;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');


h1,h2,h3,h4,h5,h6,
ul,li,ol,dl,dt,dd,
p,span,div,address,i,b,strong,em,a,
form,fieldset,legend,input,label,textarea,select,button,
header,footer,main,aside,nav,section,article,
body, html{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Cafe24_simple';
    font-weight: normal;
}
ul,li,ol{
    list-style: none;
}
a{
    text-decoration: none;
    color:#000;
}
html {
    font-size: 0.625em;
}
.line_break{
    display: block;
}
*::selection {
	background-color: #ffb4d1;
}

/*common*/
.clear::after {
	clear: both;
	content: "";
	display: block;
}
.btn{
    position:relative;
    display:block;
    width: 200px;
    height: 40px;
    background-color:#fff;
    line-height: 40px;
    border-radius: 20px;
    text-align: center;
    font-size: 2rem;
    font-family: 'Cafe24_simple';
    transition: 300ms ease-out;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
}
.btn:hover{
    background-color:#ff0062;
    color:#fff;
    padding-right: 60px;
}
.btn:hover span{
    position:absolute;
    width: 70px;
    height: 70px;
    top: -15px;
    right: 10px;
    background: url(../img/btn-arrow-slider-right_w.png) no-repeat center;
    background-size: contain;
}

/*style*/
.wrap{
    width: 100%;
    background-image: url(../img/bg_pattern.jpg);
    background-size: 2%;
}

header{
    float:left;
    width: 20%;
    padding: 50px 20px 0 50px;
}
h1{
    font-size: 5rem;
    color:#f5b60b;
    line-height: 1.2;
    font-weight: bold;
    text-align: center;
    transition: 300ms ease-out;
}
h1 span{
    color:#ff0062;
    font-size: 2.5rem;
}
h1:hover{
    opacity: 0.6;
}
.header_wrap .gnb{
    margin-top: 30px;
}
.header_wrap .gnb li{
    margin-bottom: 20px;
}
.header_wrap .gnb li:last-child{
    margin: 0;
}
.header_wrap .gnb li a{
    text-transform: uppercase;
    font-size: 1.7rem;
    font-family: "CD";
}

.slider{
    float:left;
    width: 80%;
    height: 800px;
    position:relative;
}
.slider h2{
    z-index: 100;
    position:absolute;
    right: 60px;
    bottom: 150px;
    
    font-size: 4rem;
    color:#fff;
    padding: 20px 30px;
    line-height: 1.2;
    font-family: 'Cafe24_simple';
    backdrop-filter:blur(10px);
    background-color:rgba(0, 0, 0, 0.5)
}
.slider_wrap{
    width: 100%;
    height: 800px;
    position:relative;
    margin-bottom: 50px;
}


.slider_handler{
    width: 1100px;
    height: 800px;
    box-shadow: 0 0 12px rgba(0,0,0,0.3);
}
.slider_handler li{
    float: left;
    overflow: hidden;
    width: 900px;
    height: 800px;
    position:relative;
}
.slider_handler li:after{
    content:'key visual';
    writing-mode: vertical-rl;
    text-align: center;
    color:#fff;
    font-size: 1.5rem;
    padding: 10px 5px 10px 0;
    font-family: 'Cafe24_simple';
    
    z-index: 125;
    position:absolute;
    width: 20px;
    height: auto;
    top:0;
    left:0;
    background-color:#ff0062;
}
.slider_handler li:nth-of-type(2):after{
    content:'치즈루';
}
.slider_handler li:nth-of-type(3):after{
    content:'마미';
}
.slider_handler li:nth-of-type(4):after{
    content:'루카';
}
.slider_handler li:nth-of-type(5):after{
    content:'수미';
}
.slider_handler li:not(:first-child),
.slider_handler li:not(:first-child) a{
    width: 50px;
}
.slider_handler li a{
    display: block;
    width: 900px;
    height: 800px;
    background:url(../img/slider_keyVisual.jpg) no-repeat center/cover;
    position:relative;
}
.slider_handler li a span{
    position:absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background-color:#fff;
    opacity:0;
    transition: 100ms ease-out;
}
.slider_handler li a.clicked{
    animation: zoom 500ms ease-out forwards;
}
.slider_handler li a.not_clicked{
    animation: out 500ms ease-out forwards;
}
@keyframes zoom{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.01);
    }
}
@keyframes out{
    0%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
.slider_handler li:nth-child(2) a{
    background-image: url(../img/slider_chizuru.jpg);
}
.slider_handler li:nth-child(3) a{
    background-image: url(../img/slider_mami.jpg);
}
.slider_handler li:nth-child(4) a{
    background-image: url(../img/slider_ruka.jpg);
}
.slider_handler li:nth-child(5) a{
    background-image: url(../img/slider_sumi.jpg);
}
.info_wrap{
    display: flex;
    justify-content: center;
    padding: 100px 50px;
    width: 100%;
}
.info_wrap h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
}
.info_wrap article{
    width: 40%;
    height: 370px;
    background-color:#fff;
    box-shadow: 0 0 12px rgba(0,0,0,0.3);
    margin-right: 50px;
    border-radius: 10px;
    padding: 20px 30px;
}
.info_wrap article:last-child{
    margin:0;
}
.info_wrap h2{
    margin-bottom: 15px;
    font-size: 3rem;
}
.info_wrap article li a{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
.info_wrap a strong{
    color:#ff0062;
    font-size: 1.5rem;
    font-weight: normal;
    font-family: 'CD';
}
.info_wrap a p{
    font-size: 1.7rem;
    font-family: 'CD';
}
.info_wrap .btn{
    margin: 30px auto;
}
footer{
    width: 100%;
    height: 100px;
}
footer strong{
    padding: 20px 50px;
    font-size: 1.5rem;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
}

